<%= render 'layouts/header_librarier' %>

<table class="table table-bordered">
    <tr>
      <th scope="col"><h3>Alunos</h3></th>
      <th scope="col"><h3>Livros</h3></th>
      <th scope="col"><h3>Livros Disponiveis</h3></th>
      <th scope="col"><h3>Livros Emprestados</h3></th>
    </tr>

    <tr>
      <th scope="col"><h4><%= @quantity_students %></h4></th>
      <th scope="col"><h4><%= @quantity_books %></h4></th>
      <th scope="col"><h4><%= @avaliable_books %></h4></th>
      <th scope="col"><h4><%= @borrowed_books %></h4></th>
    </tr>
</table>
