<% provide(:title, 'Edit') %>
<% provide(:button_text, 'Edit') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% if librarier_logged_in? %>
      <h1>Editar</h1>
      <%= render 'form', librarier: @librarier %>
      <p><%= link_to "Cancelar", librarier_book_index_path %></p>

    <% elsif admin_logged_in? %>
      <h1>Editar</h1>
       <%= render 'form', librarier: @librarier %>
       <p><%= link_to "Cancelar", admin_librarier_index_path %></p>

    <% else %>
      <h1>Somente usuarios autenticados podem acessar essa area</h1>
      <p><%= link_to "Voltar para pagina inicial", root_path %></p>
    <% end %>
  </div>
</div>
