<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectDw5</title>
    <%= render 'layouts/rails_default' %>

    <%= render 'layouts/shim' %>
  </head>

  <body id="<%= "#{controller_name}_#{action_name}" %>">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <%= yield %>
  </body>
</html>
